
<%- include("partials/header"); -%>
    <h1><%=title%></h1>
    <p class="mt-4"><%=content%></p>
    <ul class="nav mx-auto pt-3">
        <form action="/posts/<%=id%>" method="post" class="mt-5">
            <a href="/" class="btn btn-outline-secondary me-3" role="button">Back Home</a>
            <a class="btn btn-outline-warning  me-3" href="/update/<%=id%>" role="button">Edit</a>
            <button type="submit" class="btn btn-outline-danger ms-3">Delete</button>
        </form>
    </ul>
<%- include("partials/footer"); -%>
